:root {
    --contrast-color: #305150;
    --line-color: #97cb4e;
    --second-bg: #f2eced;
    --second-border: #d6cfd0;
}


html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial Narrow';
    font-size: medium;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
}

@media only screen and (min-width: 540px) {
    .mx-12 {
        margin: 0 5vw;
    }
    .px-11 {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .max-w-1200 {
        max-width: 1200px;
    }
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .main-image {
        margin-right: 20px;
        margin-left: 20px;
    }
    
}

header {
    display: flex;
    justify-content: center;
}
.logo {
    width: 100%;
    padding: 10px;
}
.logo-image {
    width: 100%;
}
.py-15 {
    padding: 15px 15px;
}


header {
    top: 0;
    
}

main {
    padding: 0 10px;
}

p {
    text-align: justify;
}
main figure {
    margin-right: 0px;
    margin-left: 0px;
}
.main-image {
    padding: 0 10px;
    width: auto;
    background-color: var(--second-bg);
    display: grid;
    place-items: center;
    border: 2px solid var(--second-border);
    border-radius: 2px;
}
.photo {
    width: 100%;
}
.main-image figcaption {
    font-style: italic;
}


h1 {
    background-color: var(--contrast-color);
    color: white;
    border-radius: 5px;
    padding: 2px 4px;
}

h2 {
    border-bottom: 3.5px solid var(--line-color);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    align-self: stretch;
    background-color: var(--contrast-color);
    color: white;
    border-top: 3.5px solid var(--line-color);
}
footer * {
    display: inline-block;
}


